In [ ]:
!pip install -q xlrd

In [ ]:
import pandas as pd
import numpy as np

## Importações

In [ ]:
url1 = ('https://github.com/bittenks/unir-todas-tabelas/raw/main/tabelas/corn_br.xlsx')
cornbr = pd.read_excel(url1)

url2 = ('https://github.com/bittenks/unir-todas-tabelas/raw/main/tabelas/soybean_br.xlsx')
soybeanbr = pd.read_excel(url2)

url3 = ('https://github.com/bittenks/unir-todas-tabelas/raw/main/tabelas/cotton_br.xlsx')
cottonbr = pd.read_excel(url3)

url4 = ('https://github.com/bittenks/unir-todas-tabelas/raw/main/tabelas/wheat_br.xlsx')
wheatbr = pd.read_excel(url4)

url5 = ('https://github.com/bittenks/unir-todas-tabelas/raw/main/tabelas/AmercLatina_en.xlsx')
americala = pd.read_excel(url5)

url6 = ('https://github.com/bittenks/unir-todas-tabelas/raw/main/tabelas/Cepea_en.xlsx')
cepeaen = pd.read_excel(url6)

url7 = ('https://github.com/bittenks/unir-todas-tabelas/raw/main/tabelas/World_en.xlsx')
worlden = pd.read_excel(url7)

In [ ]:
cornbr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1481 non-null   object
 1   Text_Headline  1481 non-null   object
 2   Text_Body      1479 non-null   object
 3   Commodity      1481 non-null   object
 4   Language       1481 non-null   object
 5   Value          1481 non-null   float64
 6   Label          1481 non-null   object
dtypes: float64(1), object(6)
memory usage: 81.1+ KB

In [ ]:
soybeanbr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1491 non-null   object
 1   Text_Headline  1491 non-null   object
 2   Text_Body      1491 non-null   object
 3   Commodity      1491 non-null   object
 4   Language       1491 non-null   object
 5   Value          1491 non-null   float64
 6   Label          1491 non-null   object
dtypes: float64(1), object(6)
memory usage: 81.7+ KB

In [ ]:
cottonbr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           727 non-null    object
 1   Text_Headline  727 non-null    object
 2   Text_Body      725 non-null    object
 3   Commodity      727 non-null    object
 4   Language       727 non-null    object
 5   Value          727 non-null    float64
 6   Label          727 non-null    object
dtypes: float64(1), object(6)
memory usage: 39.9+ KB

In [ ]:
wheatbr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           477 non-null    object
 1   Text_Headline  477 non-null    object
 2   Text_Body      475 non-null    object
 3   Commodity      477 non-null    object
 4   Language       477 non-null    object
 5   Value          477 non-null    float64
 6   Label          477 non-null    object
dtypes: float64(1), object(6)
memory usage: 26.2+ KB

In [ ]:
americala.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1253 non-null   object
 1   Text_Headline  1253 non-null   object
 2   Text_Body      1252 non-null   object
 3   Commodity      1253 non-null   object
 4   Language       1253 non-null   object
 5   Value          1253 non-null   float64
 6   Label          1253 non-null   object
dtypes: float64(1), object(6)
memory usage: 68.6+ KB

In [ ]:
cepeaen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1743 entries, 0 to 1742
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1743 non-null   datetime64[ns]
 1   Text_Headline  1743 non-null   object
 2   Text_Body      1743 non-null   object
 3   Commodity      1743 non-null   object
 4   Language       1743 non-null   object
 5   Value          1743 non-null   float64
 6   Label          1743 non-null   object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 95.4+ KB

In [ ]:
worlden.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360 entries, 0 to 2359
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           2360 non-null   datetime64[ns]
 1   Text_Headline  2360 non-null   object
 2   Text_Body      2360 non-null   object
 3   Commodity      2360 non-null   object
 4   Language       2360 non-null   object
 5   Value          2360 non-null   float64
 6   Label          2360 non-null   object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 129.2+ KB

### **Corn + Soybean**

In [ ]:
merge_corn_soy = pd.merge_ordered(cornbr, soybeanbr, fill_method="ffill", left_by="Date")
merge_corn_soy

TypeError: ignored

In [ ]:
merge_corn_soy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2960 entries, 0 to 2959
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           2960 non-null   object
 1   Text_Headline  2960 non-null   object
 2   Text_Body      2958 non-null   object
 3   Commodity      2960 non-null   object
 4   Language       2960 non-null   object
 5   Value          2960 non-null   float64
 6   Label          2960 non-null   object
dtypes: float64(1), object(6)
memory usage: 162.0+ KB

## **Cotton + Wheat**

In [ ]:
merge_cot_wheat = pd.merge_ordered(cottonbr, wheatbr, fill_method="ffill", left_by="Date")
merge_cot_wheat

           Date  ... Label
0    30-12-2020  ...  Down
1    23-12-2020  ...  Down
2    22-12-2020  ...  Down
3    22-12-2020  ...    Up
4    18-12-2020  ...    Up
..          ...  ...   ...
951  23-01-2015  ...  Down
952  21-01-2015  ...  Down
953  20-01-2015  ...  Down
954  19-01-2015  ...  Down
955  14-01-2015  ...  Down

[956 rows x 7 columns]

In [ ]:
merge_cot_wheat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           956 non-null    object
 1   Text_Headline  956 non-null    object
 2   Text_Body      953 non-null    object
 3   Commodity      956 non-null    object
 4   Language       956 non-null    object
 5   Value          956 non-null    float64
 6   Label          956 non-null    object
dtypes: float64(1), object(6)
memory usage: 52.4+ KB

## **(Corn + Sybean)+(Cotton+ Wheat)**

In [ ]:
all_merge_table1 = pd.merge_ordered( merge_corn_soy, merge_cot_wheat, fill_method="ffill", left_by="Date")

In [ ]:
all_merge_table1

            Date  ... Label
0     30-12-2020  ...  Down
1     30-12-2020  ...  Down
2     30-12-2020  ...  down
3     29-12-2020  ...    Up
4     29-12-2020  ...    up
...          ...  ...   ...
3905  07-01-2015  ...  Down
3906  07-01-2015  ...  down
3907  06-01-2015  ...  Down
3908  06-01-2015  ...  down
3909  05-01-2015  ...  Down

[3910 rows x 7 columns]

In [ ]:
all_merge_table1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           3910 non-null   object
 1   Text_Headline  3910 non-null   object
 2   Text_Body      3905 non-null   object
 3   Commodity      3910 non-null   object
 4   Language       3910 non-null   object
 5   Value          3910 non-null   float64
 6   Label          3910 non-null   object
dtypes: float64(1), object(6)
memory usage: 214.0+ KB

In [ ]:
all_merge_table1.to_excel('all_merge.xlsx')#salvar em excel

## **America Latina + Cepea**

In [ ]:
merge_americala_cepeaen = pd.merge_ordered(americala, cepeaen, fill_method="ffill", left_by="Date")
merge_americala_cepeaen

            Date  ... Label
0     2021-05-18  ...  down
1     2021-05-18  ...  down
2     2021-05-14  ...  down
3     2021-05-13  ...  down
4     2021-05-05  ...  down
...          ...  ...   ...
1248  2014-01-16  ...    up
1249  2014-01-16  ...  down
1250  2014-01-09  ...  down
1251  2014-01-07  ...    up
1252  2014-01-07  ...  down

[1253 rows x 7 columns]

In [ ]:
merge_americala_cepeaen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1253 non-null   object
 1   Text_Headline  1253 non-null   object
 2   Text_Body      1252 non-null   object
 3   Commodity      1253 non-null   object
 4   Language       1253 non-null   object
 5   Value          1253 non-null   float64
 6   Label          1253 non-null   object
dtypes: float64(1), object(6)
memory usage: 68.6+ KB

## **(America Latina + Cepeae) + World**

In [ ]:
all_merge_table2 = pd.merge_ordered(merge_americala_cepeaen, worlden, fill_method="ffill", left_by="Date")
all_merge_table2

            Date  ... Label
0     2021-05-18  ...  down
1     2021-05-18  ...  down
2     2021-05-14  ...  down
3     2021-05-13  ...  down
4     2021-05-05  ...  down
...          ...  ...   ...
1248  2014-01-16  ...    up
1249  2014-01-16  ...  down
1250  2014-01-09  ...  down
1251  2014-01-07  ...    up
1252  2014-01-07  ...  down

[1253 rows x 7 columns]

In [ ]:
all_merge_table2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1253 non-null   object
 1   Text_Headline  1253 non-null   object
 2   Text_Body      1252 non-null   object
 3   Commodity      1253 non-null   object
 4   Language       1253 non-null   object
 5   Value          1253 non-null   float64
 6   Label          1253 non-null   object
dtypes: float64(1), object(6)
memory usage: 68.6+ KB

## **Merge table 1 + Merge table 2**

In [ ]:
all_merge_tables = pd.merge_ordered(all_merge_table1, all_merge_table2, fill_method="ffill", left_by="Date")
all_merge_tables

            Date  ... Label
0     30-12-2020  ...  Down
1     30-12-2020  ...  Down
2     30-12-2020  ...  down
3     29-12-2020  ...    Up
4     29-12-2020  ...    up
...          ...  ...   ...
3905  07-01-2015  ...  Down
3906  07-01-2015  ...  down
3907  06-01-2015  ...  Down
3908  06-01-2015  ...  down
3909  05-01-2015  ...  Down

[3910 rows x 7 columns]

In [ ]:
all_merge_tables = all_merge_tables.sort_values(by='Date',ascending=True)

In [ ]:
all_merge_tables.to_excel('all_merge_tables.xlsx')#salvar em excel