<a href="https://colab.research.google.com/github/bittenks/IC-Arquivos/blob/main/UnirTabelas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q xlrd

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url1 = ('https://github.com/bittenks/IC-repository-tables/raw/main/corn2015_2020.xlsx')
corn= pd.read_excel(url1)

url2 = ('https://github.com/bittenks/IC-repository-tables/raw/main/soybean2015_2020.xlsx')
soybean = pd.read_excel(url2)

url3 = ('https://github.com/bittenks/IC-repository-tables/raw/main/cotton2015_2020.xlsx')
cotton = pd.read_excel(url3)

url4 = ('https://github.com/bittenks/IC-repository-tables/raw/main/wheat2018_2020.xlsx')
wheat = pd.read_excel(url4)

In [ ]:
corn

In [ ]:
corn = corn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1481 non-null   object
 1   Text_Headline  1481 non-null   object
 2   Text_Body      1479 non-null   object
 3   Commodity      1481 non-null   object
 4   Language       1481 non-null   object
 5   Tarjet         1481 non-null   object
dtypes: object(6)
memory usage: 69.5+ KB

In [ ]:
cotton = cotton.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           727 non-null    object
 1   Text_Headline  727 non-null    object
 2   Text_Body      725 non-null    object
 3   Commodity      727 non-null    object
 4   Language       727 non-null    object
 5   Tarjet         727 non-null    object
dtypes: object(6)
memory usage: 34.2+ KB

In [ ]:
soybean = soybean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1492 non-null   object
 1   Text_Headline  1492 non-null   object
 2   Text_Body      1492 non-null   object
 3   Commodity      1492 non-null   object
 4   Language       1492 non-null   object
 5   Target         1492 non-null   object
dtypes: object(6)
memory usage: 70.1+ KB

In [ ]:
wheat = wheat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           477 non-null    object
 1   Text_Headline  477 non-null    object
 2   Text_Body      475 non-null    object
 3   Commodity      477 non-null    object
 4   Language       477 non-null    object
 5   Tarjet         477 non-null    object
dtypes: object(6)
memory usage: 22.5+ KB

In [ ]:
test_corn_soy = pd.merge_ordered(corn, soybean, fill_method="ffill", left_by="Date")
test_corn_soy

            Date  ... Target
0     30-12-2020  ...    NaN
1     30-12-2020  ...     Up
2     29-12-2020  ...    NaN
3     29-12-2020  ...     Up
4     28-12-2020  ...    NaN
...          ...  ...    ...
2956  07-01-2015  ...   Down
2957  06-01-2015  ...    NaN
2958  06-01-2015  ...   Down
2959  05-01-2015  ...    NaN
2960  05-01-2015  ...   Down

[2961 rows x 7 columns]

In [ ]:
print(cotton)

In [ ]:
test_cot_wheat = pd.merge_ordered(cotton, wheat, fill_method="ffill", left_by="Date")
test_cot_wheat

           Date  ... Tarjet
0    30-12-2020  ...   Down
1    23-12-2020  ...   Down
2    22-12-2020  ...   Down
3    22-12-2020  ...     Up
4    18-12-2020  ...     Up
..          ...  ...    ...
951  23-01-2015  ...   Down
952  21-01-2015  ...   Down
953  20-01-2015  ...   Down
954  19-01-2015  ...   Down
955  14-01-2015  ...   Down

[956 rows x 6 columns]

In [ ]:
all_merge = pd.merge_ordered( test_corn_soy, test_cot_wheat, fill_method="ffill", left_by="Date")

In [ ]:
all_merge

            Date  ... Target
0     30-12-2020  ...    NaN
1     30-12-2020  ...    NaN
2     30-12-2020  ...     Up
3     29-12-2020  ...    NaN
4     29-12-2020  ...     Up
...          ...  ...    ...
3906  07-01-2015  ...   Down
3907  06-01-2015  ...    NaN
3908  06-01-2015  ...   Down
3909  05-01-2015  ...    NaN
3910  05-01-2015  ...   Down

[3911 rows x 7 columns]

In [ ]:
all_merge.to_csv('all_merge.csv')

In [ ]:
all_merge

            Date  ... Target
0     30-12-2020  ...    NaN
1     30-12-2020  ...    NaN
2     30-12-2020  ...     Up
3     29-12-2020  ...    NaN
4     29-12-2020  ...     Up
...          ...  ...    ...
3906  07-01-2015  ...   Down
3907  06-01-2015  ...    NaN
3908  06-01-2015  ...   Down
3909  05-01-2015  ...    NaN
3910  05-01-2015  ...   Down

[3911 rows x 7 columns]